* {
  margin: 0;
  padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  width: 1920px;
  margin: 0 auto;
}
header .head {
  height: 560px;
  background: url(../images/头部.jpg);
}
header section {
  width: 960px;
  height: 390px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}
header section div {
  width: 410px;
  height: 315px;
  margin-top: 40px;
}
header section .left,
header section .right {
  float: left;
  text-align: center;
}
header section .left h3,
header section .right h3 {
  margin: 20px auto;
  width: 300px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 30px;
  padding-bottom: 20px;
}
header section .left p,
header section .right p {
  font-size: 20px;
  color: #666666;
}
header section .right {
  float: right;
}
header .header-footer {
  width: 960px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}
header .header-footer h3 {
  font-size: 30px;
  margin-top: 40px;
}
header .header-footer ul {
  list-style: none;
  margin-top: 50px;
}
header .header-footer ul li {
  display: inline-block;
  vertical-align: top;
}
header .header-footer ul li p {
  margin-top: 35px;
  color: #666666;
  font-size: 20px;
}
header .header-footer ul li:nth-child(2n) {
  padding-top: 30px;
}
article section:first-child {
  position: relative;
  height: 660px;
  background: #fb6161 url(../images/);
}
article section:first-child div:first-child {
  position: absolute;
  top: 0;
  left: 476px;
  width: 184px;
  height: 114px;
  background: url(../images/步骤背景.png);
  font-size: 36px;
  line-height: 28px;
  color: #d20d0d;
  text-align: center;
  line-height: 84px;
}
article section:first-child .header {
  text-align: center;
}
article section:first-child .header img {
  margin-top: 36px;
  margin-bottom: 17px;
}
article section:first-child .header h3 {
  font-size: 30px;
  color: #ffffff;
}
article section:first-child .header p {
  font-size: 20px;
  color: #ffe5e5;
  margin-top: 19px;
  margin-bottom: 50px;
}
