/* 版心的公共类 */
.container {
    width: 1240px;
    margin: 0 auto;
}

/* 快捷菜单模块：xtx-shortcut */
.xtx-shortcut {
    height: 53px;
    background-color: #333;
}
.xtx-shortcut .container {
    height: 53px;
}
.xtx-shortcut ul li {
    float: left;
    line-height: 53px;
    color: #666666;
}
.xtx-shortcut ul a {
    margin: 0 16px;
    color: #cdcdcd;
    font-size: 14px;
}
.xtx-shortcut ul a:hover {
    color: greenyellow;
}
.xtx-shortcut li:last-child a::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 32px;
    margin-top: -3px;
    margin-right: 8px;
    vertical-align: middle;
    background: url(../images/sprites.png) -321px -141px;
}

/* 主导航模块 */
.xtx-main-nav {
    height: 130px;
    padding-top: 30px;
    box-sizing: border-box;
    /* background-color: pink; */
}
/* logo */
.xtx-main-nav .logo {
    width: 207px;
    height: 70px;
}
.xtx-main-nav h1 a {
    display: block;
    height: 70px;
    background: url(../images/logo.png);
    background-size: 100% 100%;
}
/* 导航 */
.xtx-main-nav nav ul {
    margin-left: 40px;
}
.xtx-main-nav nav li {
    float: left;
    width: 38px;
    height: 70px;
    margin-right: 40px;
    line-height: 70px;
}
.xtx-main-nav li a {
    padding-bottom: 7px;
}
.xtx-main-nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}
/* 搜索 */
.xtx-main-nav .search {
    position: relative;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    border-bottom: 2px solid #e7e7e7;
}
.xtx-main-nav .search input {
    width: 172px;
    height: 30px;
    box-sizing: border-box;
    padding-left: 45px;
}
.xtx-main-nav .search span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 33px;
    background: url(../images/sprites.png) -158px -139px;
}
.cart {
    position: relative;
    top: 20px;
    width: 30px;
    height: 30px;
    background: url(../images/sprites.png) -239px -140px;
}

/* 侧导航栏 */
main {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.main-nav {
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: rgba(4, 4, 4, 0.8);
}
.main-nav a {
    display: inline-block;
    width: 250px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}
.main-nav a:hover {
    background-color: rgb(39, 186, 155);
}

/* 轮播图 */
.banner a {
    display: inline-block;
    width: 1240px;
    height: 500px;
}

/* 主体商品1 */
.commodity-head {
    height: 110px;
}
.commodity-head p {
    display: inline-block;
    font-size: 30px;
    margin-left: 5px;
    line-height: 110px;
}
.commodity-head span {
    margin-left: 15px;
    color: rgb(153, 153, 153);
}
.commodity-head a {
    line-height: 110px;
    color: rgb(153, 153, 153);
}
.commodity-body li{
    width: 305px;
    float: left;
    overflow: hidden;
    margin-right: 5px;
}
.commodity-body img {
    width: 309px;
}
.commodity-body ul:last-child {
    margin-right: 0;
}
.commodity-body p {
    height: 45px;
    text-align: center;
    font: italic 500 20px/45px 正楷;
}
.commodity-body .price {
    color: red;
}
.commodity-body li:hover {
    text-shadow: #cdcdcd 5px;
}